<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Trains</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5 col-md-6">
    <h2 class="text-center mb-4">Search Trains</h2>
    <form th:action="@{/search}" method="post" class="shadow p-4 bg-white rounded">
        <div class="mb-3">
            <label class="form-label">From</label>
            <input type="text" class="form-control" name="source" required>
        </div>
        <div class="mb-3">
            <label class="form-label">To</label>
            <input type="text" class="form-control" name="destination" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Search Trains</button>
    </form>
</div>
</body>
</html>
